[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    .terraform
# E203: whitespace before ':'
# E501: line too long (handled by black)
# W503: line break before binary operator
ignore = 
    E203,
    E501,
    W503
per-file-ignores =
    __init__.py:F401
